body {
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: #2F4F4F;
    color: #00FFFF;
  }
  
a {
  color: #FFFAFF;
}

a:hover {
  color: #D8315B;
}

footer a {
  color: #FFFAFF;
}

footer a:hover {
  color: #2F4F4F;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

hr {
  border: none;
  height: 1px;
  color: #2F4F4F;
  background-color: #2F4F4F;
}


button {
  background-color: darkslategray;
  color: cyan;
  border: solid #3E92CC;
  border-radius: 5%;
  padding: 8px 24px;
  margin: 4px, 2px;
  font-weight: bold;
  cursor: pointer;
}
/*button[type="submit"]*/
button:hover {
  background-color: #D8315B;
  color: cyan;
  border: solid cyan;
  border-radius: 5%;
  padding: 8px 24px;
  margin: 4px, 2px;
  font-weight: bold;
  cursor: pointer;
}

/*   img {
  width: 100px;
  height: 100px;
  text-align: right;
  -ms-flex-item-align: right;
}  */

.error-log {
  visibility: hidden;
  color: #D8315B;
  text-decoration: underline;
}

.login-form {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.email-form {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.form-actions {
  margin: 0;
  text-align: center;
}

.column-center {
  background-color: #fffaff;
  color: #2f4f4f;
  padding-bottom: 3%;
}

.column-left {
  padding-bottom: 3%;
}

.column-right {
  padding-bottom: 3%;
}

.page-footer {
  position: fixed;
  bottom: 0;
  background-color: #3E92CC;
  color: #00FFFF;
  text-align: center;
}

.header_subtext {
font-family: Georgia, "Times New Roman", Times, serif;
text-align: center;
color: cyan;
}